/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

img{
    max-width: 100%;
}
header{
    background-color:#255ee9 ;   
}

/* common */

.wrapper-1{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.wrapper{
     display: flex;
       
   
    margin-top: 2rem;

}

.wrapper-2{
    display: flex;
       
    border: 1px dashed white;
    
}

.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}

a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

.bt-white{
     background-color: white;   
    color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
}

.bt-black{
    background-color: #23272a;   
    color: #ffffff;
    border: 2px solid #23272a;
    padding: 10px;
    border-radius: 25px;
}
.bt-blu{
    background-color: #7289da;   
    color: #ffffff;
    border: 2px solid #7289da;
    padding: 10px;
    border-radius: 25px;
    margin-top: 1rem;
}

.title{
    font-size: 2rem;
    padding: 3rem;
}
.generic-font{
    font-size: 1.5em;
}

.button{
    margin-top: 2rem;
}

h6{
    color: #7289da;
    font-size: 1rem;
    margin-top: 3rem;
}

/* HEADER */

.font-white{
    color: white;
}

.header-navigation{
    background-color:#255ee9 ;
    height: 5rem;
    
}

.header-nav{
   width: 60%;
}

 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.ul-footer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


li{
    margin: 10px;
}

.header-logo
.header-action{
    width: 20%;
}
.header-action{
    text-align: end;
}

.back-blu{
    background-image:url(../img/jumbo.png);
    background-size: cover;
}

.retangolo{
    width:60%;
    margin-top: 50px;
    height: 400px;
}

/* section */

.img{    
    width: 70%;
}

.text{   
    width: 30%;
}

.back-grey{
    background-color: #f6f6f6;         
}

.margin{
    margin-bottom: 2rem;
}

/* FOOTER */
footer {
    background-color: #23272a;
}

.img-size{
    width: 20px;
   
}

.main-column {
    width: 30%;
    color: white;
}

.menu-column {
    width: 70%;
    display: flex;
}

.footer-menu {
    width: calc(100% / 4);
    text-align: center;
}

.footer-bottom .container {
    padding: 1rem 0;  
}